<div id="slideshow-wrap">

    <% for (let i=1; i<5; i++){ 
        if(i==1) {%>
        <input type="radio" id="button-<%=i%>" name="controls" checked="checked" />
        <%} else {%>
            <input type="radio" id="button-<%=i%>" name="controls" />
        <%}%>
            <label for="button-<%=i%>"></label>
            <%}%>

                <% for (let i=1; i<5; i++){%>
                    <label for="button-<%=i%>" class="arrows" id="arrow-<%=i%>">></label>
                    <%}%>
                        <div id="slideshow-inner">
                            <ul>
                                <% for (let i=1; i<5; i++){%>
                                    <li id="slide<%=i%>">
                                        <img <%//product.img%> src="\img\productos\destacados.jpg" />
                                        <div class="description">
                                            <input type="checkbox" id="show-description-1" />
                                            <label for="show-description-<%=i%>"
                                                class="show-description-label"> <%//product.categoria%> Juego</label>
                                           <!-- <div class="description-text">
                                                 <h2>Flower power</h2>
                                                 <p><%//product.description%> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                     nonumy eirmod tempor invidunt ut</p>
                                             </div>-->
                                        </div>
                                    </li>
                                    <%}%>
                            </ul>
                        </div>
</div>